{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}EduTrack{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/sidebar.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>

{% include 'sidebar.html' %}

<main>
    {% block content %}
    <!-- Page-specific content goes here -->
    {% endblock %}
</main>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
<script src="{% static 'js/modal_handler.js' %}"></script>
<script src="{% static 'js/sidebar.js' %}"></script>
</body>
</html>
